<% if @todo.errors.any? %>
  <div class="alert alert-danger alert-dismiss" role="alert">
    <h4> Ops! Algo deu errado, verifique os passos abaixo: </h4>
    <% @todo.errors.full_messages.each do |error| %>
      <h5><%= error %></h5>
    <% end %>
  </div>
<% end %>

<div class="align-tiems-center">
  <%= form_for @todo do |form| %>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
        <%= form.label :titulo %>
        <%= form.text_field :titulo %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :descrição %>
          <%= form.text_area :descricao, rows: 3 %>
        </div>
      </div>
    </div>

    <%= form.submit action_name, class:"btn btn-primary" %>
  <% end %>
</div>