<%= render partial:"flash" %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td>Título</td>
      <td>Descrição</td>
      <td colspan="2">
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
    <tr>
      <%# <td colspan="1"> %>
      <td><%= todo.titulo %></td>
      <td><%= todo.descricao %></td>
      <td><%= link_to "Ver", todo_path(todo),
        class:"btn btn-primary"
      %></td>
      <td>
        <%= button_to "Excluir", todo,
          method: :delete, 
          class:"btn btn-danger", 
          data: {confirm:"Tem certeza que quer excluir \"#{todo.titulo}\"?"} 
        %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>